/* .container_Projects{
    max-width: 100vw;
    min-height: 80vh;
    display:flex;
    justify-content: center;
    align-items: center;
} */
.details_Projects{
    background-color: white;
    max-width: 100vw;
    min-height: 80vw;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}
.details_Projects a{
    text-decoration: none;
    color: #000;
}

@media screen and (min-width:551px)and (max-width: 1025px) {
    .details_Projects{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}
@media screen and (min-width:431px)and (max-width: 551px) {
    .details_Projects{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}
@media screen and  (max-width: 431px) {
    .details_Projects{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
}
    