.contents a::before{
    content: "";    
    /* border: 2px solid rgb(255, 82, 82); */
    width: 100%;
    height: 100%;
    border-top: 2px solid yellow;
    border-left: 2px solid yellow;
    border-radius: 2vw;
    box-sizing: border-box;
    transition: all 0.3s;
    position: absolute;
    top: 0%;
    left: 0%;
}
.contents a::after{
    content: "";
    border-bottom: 2px solid yellow;
    border-right: 2px solid yellow;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    box-sizing: border-box;
    transition:all 0.3s;
    position: absolute;
    right:0%;
    bottom: 0%;
}
.contents a:hover::after, .contents a:hover::before{
    width: 10%;
    height: 20%;
    /* width: 100%;
    height: 100%; */
    
    /* transform: rotate(360deg); */
}